*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
  background-color: #F0F0F0;;
}
.landing_page{
    background-image: url(/images/images\ \(3\)\ 2\ \(1\).png);
    height: 100vh;

    background-repeat: no-repeat;
    background-size: cover;
}

.logo {
   width: 100%;
  }
  .toggle-bars {
    position: absolute;
    top:20px;
    right:30px;
    cursor:pointer;
  }
  .toggle-bars .bar {
    width:35px;
    background-color:#fff;
    margin: 7px 0;
    height:2px;
   
  }
  .landing_page > nav {
    background:transparent;
    box-shadow: -52.46666717529297px 52.46666717529297px 52.46666717529297px 0px rgba(255, 255, 255, 0.10) inset, 52.46666717529297px -52.46666717529297px 52.46666717529297px 0px rgba(194, 194, 194, 0.10) inset;
backdrop-filter: blur(101.26066589355469px);
   
  
    
  }
 
 
  .nav {
    display: none;
  }
  .show {
    display: block !important;
  }
  .nav ul {
    list-style-type: none;
    padding:0;
    margin-left: -20px;
    margin-top: 23px;
    
  }
  .nav ul li {
    padding:10px 203px;
    
    
  }
  a{
    text-decoration: none;
    color: white;
    text-align: center;
    font-size: 20px;
   
  }
 
 
 .buttons>button:hover{
    background-color: #12C258;
    transition: all ease-in-out 700ms;
    
 }
 .buttons>button{
   
    width: 100px;
     
      border-radius: 8px; 
     background: transparent;
     color: white;
     
     outline: none;
     border: 3px solid #12C258;
    
     
     font-size: 20px;
 }
  .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
   
    height: 50%;
    width: 50%;
  }
  @media screen and (min-width:800px ){
   
    
    nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* padding:10px 20px; */
    background-color:#252023;
    color:#f5f5f5;
  }
    .toggle-bars {
      display: none;
    }
    .nav {
    display: block;
  }
  .nav ul {
    display: flex;
  }
  .nav ul li {
    padding:0 30px;
    padding-bottom: 20px;
    font-size:16px;
  }
  
  
  }

 .innertxt > img{
    margin-top: 20px;
 }
 
 .innertxt > p{
    font-size: 20px;
    padding-top: 10px;
 }
 .landing_txt >.innertxt > div> button{
    padding:10px 58.471000000000004px ;

border-radius: 30px;
background-color: #12C258;
border: 3px solid #12C258;
outline: none;
font-size: 25px;
color: white;
margin-top: 15px;
transition: all ease-in-out 700ms;
 }
 .landing_txt >.innertxt > div> button:hover{
    background-color: transparent;
    border: 3px solid #12C258
    ;
    outline: none;
 }

 
.landing_txt{
    
    

max-width: 43%;
margin: 300px 40px;

background: rgba(217, 217, 217, 0.10);
box-shadow: -12.633333206176758px 12.633333206176758px 12.633333206176758px 0px rgba(255, 255, 255, 0.10) inset, 12.633333206176758px -12.633333206176758px 12.633333206176758px 0px rgba(165, 165, 165, 0.10) inset;
backdrop-filter: blur(12.633333206176758px);
margin-top: 80px;

color: white;
padding: 60px 60px;


  }

  @media screen and (max-width: 954px) {
    .landing_txt{
        max-width: 80%;
        margin: 80px auto;
        /* margin-top: ; */
    }
  }
  @media screen and (max-width: 768px){
    .services{
      flex-direction: column;
    }
    .buttons{
        display:block;
       

  }
  .nav ul li {
    padding:10px 358px;
}}
  
  @media screen and (max-width: 425px) {
    .landing_txt{
        max-width: 98%;
        margin: 90px auto;
        /* margin-top: ; */
    }
    .nav ul li {
        padding: 10px 174px;
  }
  .buttons{
    display: block;
  }}
  @media screen and (max-width: 320px) {
    .landing_txt{
        max-width: 160%;
        padding: 20px 20px;
        margin: 90px auto;
        /* margin-top: ; */
    }
    .nav ul li {
        padding: 10px 153px;}
    
    .buttons{
        display: none;
    }
  }
/* ThirdSection */
.fourth__section > h1{


    text-align: center;
    font-size: 50px;
    padding-top: 25px;
    border-bottom: 3px solid #12C258;
    
}
 .services{
 
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    gap: 75px;
   
  
    
 }
.service{
  border-radius: 10px;
   position: relative;
   width: 353px;
   height: 495px;
   border: 3px solid #12C258;
    background: white;
}
.fourth__section{
    height: 100vh;
    margin-top: 150px;
   background-color: #12C258;
   
}
.helper>div{
  padding: 12px 12px;
  
}

.helper > .Book_truck_txt{
  padding: 12px 32px;
}
.helper>button{
  margin-top: 35px;
  width: 250px;
height: 57px;
margin-left: 50px;
background-color: #12C258;
color: #fff;
font-size: 18px;
border: 3px solid #12C258;
border-radius: 10px;
font-weight: 700;
}


.service>button:hover{
  background: transparent;
  transition: all ease-in-out 900ms;
  color: #12C258;
}
.Order_txt{
  padding: 12px 42px;
 
}
.footer{
  background-color: #12C258;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 65vh;
  color: white;
  margin-top: 300px;
}


.second__section {
  display: flex;
  padding-top: 150px;
} 

.second__section__img {
  flex-basis: 50%;
  max-width: 1200px;
  margin:  0 auto;
}

.second__section__text {
  flex-basis: 50%;
}

.second__section__text > img {
  display: block;
  margin-left: auto;
}

.second__section__text > h1 {
  font-size: 40px;
  font-weight: 600px;
  text-align: center;
  font-family: Poppins;
  color: #000000;
} 

 .second__section__text > p {
  font-size: 25px;
  font-weight: 300px;
  font-family: Poppins;
  color: #000000;
  margin: 2rem 0;
}

.second__section__text > p > span {
  display: block;
}
.harvest_btn{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 50px;
position: relative;
padding: 0 50px;
font-size: 18px;
text-transform: uppercase;
border: 0;
box-shadow: #8fb19d;
background-color: #12C258;
border-radius: 12px;
overflow: hidden;
transition: 41ms cubic-bezier(.5, .7, .4, 1);
cursor: pointer;
}

.harvest_btn:before {
content: attr(alt);
display: flex;
align-items: center;
justify-content: center;
position: absolute;
inset: 0;
font-size: 15px;
font-weight: bold;
color: white;
letter-spacing: 4px;
opacity: 1;
}

.harvest_btn:active {
box-shadow: none;
transform: translateY(7px);
transition: 35ms cubic-bezier(.5, .7, .4, 1);
}

.harvest_btn:hover:before {
transition: all .0s;
transform: translateY(100%);
opacity: 0;
}

.harvest_btn i {
color: white;
font-size: 15px;
font-weight: bold;
letter-spacing: 4px;
font-style: normal;
transition: all 2s ease;
transform: translateY(-20px);
opacity: 0;
}

.harvest_btn:hover i {
transition: all .2s ease;
transform: translateY(0px);
opacity: 1;
}

button:hover i:nth-child(1) {
transition-delay: 0.045s;
}

button:hover i:nth-child(2) {
transition-delay: calc(0.045s * 3);
}

button:hover i:nth-child(3) {
transition-delay: calc(0.045s * 4);
}

button:hover i:nth-child(4) {
transition-delay: calc(0.045s * 5);
}

button:hover i:nth-child(6) {
transition-delay: calc(0.045s * 6);
}

button:hover i:nth-child(7) {
transition-delay: calc(0.045s * 7);
}

button:hover i:nth-child(8) {
transition-delay: calc(0.045s * 8);
}

button:hover i:nth-child(9) {
transition-delay: calc(0.045s * 9);
}

button:hover i:nth-child(10) {
transition-delay: calc(0.045s * 10);
}




.Third__section{
  max-width: 1200px;
  margin:  0 auto;
  padding-top: 200px;
}

.Third__section h1{
  text-align: center;
  font-size: 40px;
  font-family: Inter;
  font-weight: 600;
  color: #000000;
  margin-top: 2rem;
}

.third__section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  gap: 1rem;
}

 
.third__section > div {
  background-color: #FFFFFF;
  padding: 3rem 4rem;
  border-radius: 10px;
  text-align: center;
  color: #12C258;
  margin-top: 2rem;
}


.third__section > div:first-child > p:first-of-type{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}

.third__section > div:first-child > p:last-child{
  font-size: 16px;
  font-weight: 500;
  color: #3C3D3C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.third__section > div:nth-child(2) > p:first-of-type{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}

.third__section > div:nth-child(2) > p:last-child{
  font-size: 16px;
  font-weight: 500;
  color: #3C3D3C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.third__section > div:nth-child(3) > p:first-of-type{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.third__section > div:nth-child(3) > p:last-child{
  font-size: 16px;
  font-weight: 500;
  color: #3C3D3C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.third__section > div:nth-child(4) > p:first-of-type{
  font-size: 20px;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 2rem;
}

.third__section > div:nth-child(4) > p:last-child{
  font-size: 16px;
  font-weight: 500;
  color: #3C3D3C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}

.third__section > div:last-child > p{
  font-size: 16px;
  font-weight: 500;
  color: #3C3D3C;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}
.third__section > div:nth-child(5) > p:first-of-type{
  font-size:20px;
  font-weight: 500;
  color: #12C258;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1rem;
}



.last__section {
  background-color: #FFFFFF;
  
}

.last__section{
  max-width: 1500px;
  margin: 0 auto;
  margin-top: 15rem;
padding: 10px 20px;
}

.last__section > h1 {   
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  font-family: Poppins;
  color: #000000;
}

.last__section > p {
  font-weight: 400;
  line-height: 45px;
  font-size: 30px;
  font-family: Poppins;
  text-align: center;
  color: #000000;
}

.last__section > p span {
  display: block;
}

.last__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.Be_btn{
  display: flex;
align-items: center;
justify-content: center;
height: 50px;
position: relative;
padding: 0 50px;
font-size: 18px;
color: white;
margin-left: 560px;
margin-top: 30px;
text-transform: uppercase;
border: 0;
box-shadow: #8fb19d;
background-color: #12C258;
border-radius: 12px;

}